In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

intakes_file_path = os.path.join("center_data", "Austin_Animal_Center_Intakes.csv")

dog_intakes_df = pd.read_csv(intakes_file_path)\
    .rename(columns = lambda df: df.lower().replace(" ", "_"))\
    .drop("monthyear", axis=1)

dog_intakes_df = dog_intakes_df[dog_intakes_df["animal_type"] == 'Dog']\
    .rename(columns = {
    "intake_type":"type",
    "sex_upon_intake":"sex",
    "age_upon_intake":"age"
    })\
    .assign(is_intake=True)\
    .assign(datetime = lambda df: pd.to_datetime(df["datetime"]))\
    .reset_index(drop=True)

# dogs_intakes_df.to_csv('dog_intakes.csv')
dog_intakes_df.head(5)

,animal_id,name,datetime,found_location,type,intake_condition,animal_type,sex,age,breed,color,is_intake
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,True
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,True
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,True
3,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,True
4,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,True

In [2]:
outcomes_file_path = os.path.join("center_data", "Austin_Animal_Center_Outcomes.csv")

dog_outcomes_df = pd.read_csv(outcomes_file_path)\
    .rename(columns = lambda df: df.lower().replace(" ", "_"))\
    .drop("monthyear", axis=1)

dog_outcomes_df = dog_outcomes_df[
    (dog_outcomes_df["animal_type"] == 'Dog') & (dog_outcomes_df['outcome_type'] == 'Adoption')]\
    .rename(columns = {
        "outcome_type":"type",
        "sex_upon_outcome":"sex",
        "age_upon_outcome":"age"
        })\
    .assign(is_intake=False)\
    .assign(datetime = lambda df: pd.to_datetime(df["datetime"]))\
    .reset_index(drop=True)    

# dogs_intakes_df.to_csv('dog_intakes.csv')
dog_outcomes_df.head(5)

,animal_id,name,datetime,date_of_birth,type,outcome_subtype,animal_type,sex,age,breed,color,is_intake
0,A789027,Lennie,2019-02-17 11:44:00,02/13/2017,Adoption,NaN,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Cream,False
1,A720371,Moose,2016-02-13 17:59:00,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,False
2,A789027,Lennie,2019-03-10 12:25:00,02/13/2017,Adoption,NaN,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Cream,False
3,A794494,Zoey,2019-05-14 16:27:00,06/14/2018,Adoption,NaN,Dog,Spayed Female,10 months,Wire Hair Fox Terrier Mix,White/Black,False
4,A764361,Astro,2018-01-03 19:15:00,12/28/2016,Adoption,NaN,Dog,Neutered Male,1 year,Norwich Terrier Mix,Black/Tan,False

In [3]:
dog_concat_df = pd\
    .concat([dog_intakes_df, dog_outcomes_df], sort=False)\
    .sort_values(by=["animal_id", "datetime"])\
     [lambda df: df.duplicated(["animal_id"],keep=False)]\
    .fillna("N/A")
# dog_concat_df[dog_concat_df["animal_id"] == "A047759"]

dog_concat_df.head()

,animal_id,name,datetime,found_location,type,intake_condition,animal_type,sex,age,breed,color,is_intake,date_of_birth,outcome_subtype
39209,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White,True,N/A,N/A
1859,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White,True,N/A,N/A
8663,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White,True,N/A,N/A
45817,A200922,Carlos,2013-10-03 15:47:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,16 years,Dachshund Mix,Black/Tan,True,N/A,N/A
5096,A200922,Carlos,2013-11-22 09:44:00,N/A,Adoption,N/A,Dog,Neutered Male,16 years,Dachshund Mix,Black/Tan,False,10/03/1997,Foster

In [4]:
describe_df = dog_concat_df.describe()
describe_df

,animal_id,name,datetime,found_location,type,intake_condition,animal_type,sex,age,breed,color,is_intake,date_of_birth,outcome_subtype
count,68444,68444,68444,68444,68444,68444,68444,68444,68444,68444,68444,68444,68444,68444
unique,28509,8561,60807,20320,5,11,1,6,47,1696,294,2,4677,3
top,A721033,N/A,2014-02-19 13:51:00,N/A,Adoption,Normal,Dog,Neutered Male,1 year,Pit Bull Mix,Black/White,True,N/A,N/A
freq,33,10827,47,29906,29906,36504,68444,23004,14926,8118,8605,38538,38538,64500
first,NaN,NaN,2013-10-01 11:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2020-01-07 17:18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# dog_concat_df.groupby(dog_concat_df["animal_id"], as_index=False).count()
num_records_df = dog_concat_df["animal_id"]\
    .value_counts()\
    .to_frame()\
    .reset_index()\
    .rename(columns = {
        "index":"animal_id",
        "animal_id":"num_records"
    })

num_records_df

      animal_id  num_records
0       A721033           33
1       A754989           16
2       A770009           14
3       A718223           14
4       A753485           13
...         ...          ...
28504   A788151            2
28505   A711461            2
28506   A724138            2
28507   A700740            2
28508   A793957            2

[28509 rows x 2 columns]

In [6]:
def qualified(num_intakes, num_outcomes):
    is_qualified = False
    
    if num_intakes == num_outcomes or num_intakes-1 == num_outcomes:
        is_qualified=True
    
    return is_qualified


#     elif is_odd(num_records):
#         if num_records//2+1 == num_intakes:
#             is_qualified = True
#     else:
#         if num_records//2 == num_intakes:
#             is_qualified = True

In [7]:
dog_intake_count_df = dog_concat_df[["animal_id", "is_intake"]]\
    .groupby(by = ["animal_id"], as_index=False).count()

# intake_count_df = dog_qualified_df[dog_qualified_df["is_intake"] == True]["is_intake"]\


dog_intake_count_df
# intake_count_df

      animal_id  is_intake
0       A006100          3
1       A200922          2
2       A210457          2
3       A226069          2
4       A245945          2
...         ...        ...
28504   A811450          2
28505   A811507          2
28506   A811509          2
28507   A811534          2
28508   A811598          2

[28509 rows x 2 columns]

In [8]:
intakes_agg = dog_concat_df[dog_concat_df["is_intake"]].groupby("animal_id")["animal_id"].count()
outcomes_agg = dog_concat_df[~dog_concat_df["is_intake"]].groupby("animal_id")["animal_id"].count()

In [9]:
validation_agg = pd.merge(
    intakes_agg.to_frame().rename(columns = {"animal_id":"intake_count"}),
    outcomes_agg.to_frame().rename(columns = {"animal_id":"outcome_count"}),
    how="outer",
    left_index=True,
    right_index=True
).dropna().reset_index()

# validation_agg

validation_agg["valid"] = np.vectorize(qualified)(validation_agg["intake_count"], validation_agg["outcome_count"])
matched_stays_df = validation_agg[validation_agg["valid"]]["animal_id"]
matched_stays_df

0        A200922
1        A210457
2        A226069
3        A249087
4        A274546
          ...
26226    A811450
26227    A811507
26228    A811509
26229    A811534
26230    A811598
Name: animal_id, Length: 25802, dtype: object

In [10]:
working_df = dog_concat_df.loc[dog_concat_df["animal_id"].isin(matched_stays_df.values)].reset_index(drop=True)
# working_df.iloc[51683]["datetime"]-working_df.iloc[51682]["datetime"]
# working_df[working_df["animal_id"] == "A787364"]
working_df.head(5)

,animal_id,name,datetime,found_location,type,intake_condition,animal_type,sex,age,breed,color,is_intake,date_of_birth,outcome_subtype
0,A200922,Carlos,2013-10-03 15:47:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,16 years,Dachshund Mix,Black/Tan,True,N/A,N/A
1,A200922,Carlos,2013-11-22 09:44:00,N/A,Adoption,N/A,Dog,Neutered Male,16 years,Dachshund Mix,Black/Tan,False,10/03/1997,Foster
2,A210457,Caleb,2016-09-28 12:05:00,4424 S Mopac #412 in Austin (TX),Public Assist,Aged,Dog,Neutered Male,17 years,Chihuahua Shorthair,Tan/Black,True,N/A,N/A
3,A210457,Caleb,2016-10-07 12:34:00,N/A,Adoption,N/A,Dog,Neutered Male,17 years,Chihuahua Shorthair,Tan/Black,False,06/01/1999,Foster
4,A226069,Cedar,2015-10-06 12:29:00,Wheless Ln And Berkman Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,15 years,Labrador Retriever/Beagle,Sable/White,True,N/A,N/A

In [11]:
# avg_stay_df = pd.DataFrame(columns =["animal_id", "stay_length"])

# for index, animal_id in working_df.iterrows():
#     stay = 0
#     if working_df.iloc[index]["animal_id"] == working_df.iloc[index+1]["animal_id"]:
#         stay = animal_id.loc["datetime"] - animal_id.loc["datetime"]       
#     else:
#         pass
#     avg_stay_df

# #     print("index: " + str(index))
# #     print("animal_id: " + str(animal_id))

# avg_stay_df

# index = 0
# if working_df.iloc[index]["animal_id"] == working_df.iloc[index+1]["animal_id"]:
#     print("a ok")

In [36]:
# is_pair=False
# x=len(working_df)-1
# print(x)
# stay_len_list=[]
# for i in range(len(working_df)-1) :
#     x_date=(working_df.loc[i, "datetime"]).normalize()
#     x2_date=(working_df.loc[i+1, "datetime"]).normalize()
#     this_id=working_df.loc[i, "animal_id"]
#     if working_df.loc[i, "animal_id"]==working_df.loc[i+1, "animal_id"]:
#         if x2_date.date()>x_date.date():
#             stay=x2_date-x_date
#             stay_len_list.append(stay)
#         else:
#             pass
#     else:
#         pass
# print(len(stay_len_list))
# print(stay_len_list)

In [11]:
# Color

def split_colors(color,*,primary=True):
    split_char = "/"
    
    color_list = color.split(split_char) if color.find(split_char) >=0 else color

    color_output = None
    if primary:
        color_output = color_list[0] if type(color_list) == list else color_list
    else:
        color_output = color_list[1] if type(color_list) == list else None
    
    return color_output

def convert_color(color, conversion_dict):
    converted_color = None
    for key, value in conversion_dict.items():
        if not color == None:
            if color in value:
                converted_color = key
        else:
            converted_color = None
    return converted_color


def total_color_set(color_series):
    
    primary_secondary = [
        split_colors(color)
        for color 
        in color_series.unique()
    ]

    primary = {pair[0] if type(pair) == list else pair for pair in primary_secondary}
    secondary = {pair[1] for pair in primary_secondary if type(pair) == list}

    return primary|secondary
    
total_colors = total_color_set(working_df["color"])

color_conversion_dict = {
    "Black":[color for color in total_colors if color.startswith("Black")],
    "Brown":[color for color in total_colors if color.startswith("Brown")],
    "Blue":[color for color in total_colors if color.startswith("Blue")],
    "Red":[color for color in total_colors if color.startswith("Red")],
    "Yellow":[color for color in total_colors if color.startswith("Yellow")],
    "Gray":["Gray", "Silver"],
    "Tan":["Tan", "Buff", "Orange", "Gold", "Fawn", "Apricot"],
    "White":["White", "Cream"],
    "Tricolor":["Tricolor", "Calico", "Sable"],
    "Pink": "Pink"
}
color_conversion_dict["Red"].append("Ruddy")
color_conversion_dict["Brown"].extend(["Agouti", "Chocolate", "Liver", "Liver Tick"])
color_conversion_dict

{'Black': ['Black Smoke', 'Black Tiger', 'Black', 'Black Brindle'],
 'Brown': ['Brown Merle',
  'Brown',
  'Brown Brindle',
  'Brown Tiger',
  'Agouti',
  'Chocolate',
  'Liver',
  'Liver Tick'],
 'Blue': ['Blue Cream',
  'Blue Tick',
  'Blue Tiger',
  'Blue',
  'Blue Merle',
  'Blue Smoke'],
 'Red': ['Red Tick', 'Red', 'Red Merle', 'Ruddy'],
 'Yellow': ['Yellow', 'Yellow Brindle'],
 'Gray': ['Gray', 'Silver'],
 'Tan': ['Tan', 'Buff', 'Orange', 'Gold', 'Fawn', 'Apricot'],
 'White': ['White', 'Cream'],
 'Tricolor': ['Tricolor', 'Calico', 'Sable'],
 'Pink': 'Pink'}

In [12]:
working_df["color_primary"] = working_df["color"]\
    .apply(split_colors)\
    .apply(lambda color: convert_color(color, color_conversion_dict))

working_df["color_secondary"] = working_df["color"]\
    .apply(lambda color: split_colors(color, primary=False))\
    .apply(lambda color: convert_color(color, color_conversion_dict))

working_df = working_df.drop("color", axis=1)
# Do not run this cell again or else drop won't work

In [13]:
working_df.loc[working_df['breed'].str.contains('Labrador Retriever/'), 'breed'] = 'Labrador Retriever Mix'
working_df.loc[working_df['breed'].str.contains('Chihuahua Shorthair/'), 'breed'] = 'Chihuahua Shorthair Mix'
working_df.loc[working_df['breed'].str.contains('Pit Bull/'), 'breed'] = 'Pit Bull Mix'
working_df.loc[working_df['breed'].str.contains('German Shepherd/'), 'breed'] = 'German Shepherd Mix'
working_df.loc[working_df['breed'].str.contains('Australian Cattle Dog/'), 'breed'] = 'Australian Cattle Dog Mix'
working_df.loc[working_df['breed'].str.contains('Dachshund/'), 'breed'] = 'Dachshund Mix'
working_df.loc[working_df['breed'].str.contains('Border Collie/'), 'breed'] = 'Border Collie Mix'
working_df.loc[working_df['breed'].str.contains('Boxer/'), 'breed'] = 'Boxer Mix'
working_df.loc[working_df['breed'].str.contains('Catahoula/'), 'breed'] = 'Catahoula Mix'
working_df.loc[working_df['breed'].str.contains('Miniature Poodle/'), 'breed'] = 'Miniature Poodle Mix'
working_df.loc[working_df['breed'].str.contains('Australian Shepherd/'), 'breed'] = 'Australian Shepherd Mix'
working_df.loc[working_df['breed'].str.contains('Pointer/'), 'breed'] = 'Pointer Mix'
working_df.loc[working_df['breed'].str.contains('Jack Russell Terrier/'), 'breed'] = 'Jack Russell Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Beagle/'), 'breed'] = 'Beagle Mix'
working_df.loc[working_df['breed'].str.contains('Yorkshire Terrier/'), 'breed'] = 'Yorkshire Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Rat Terrier/'), 'breed'] = 'Rat Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Cairn Terrier/'), 'breed'] = 'Cairn Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Staffordshire/'), 'breed'] = 'Staffordshire Mix'
working_df.loc[working_df['breed'].str.contains('Great Pyrenees/'), 'breed'] = 'Great Pyrenees Mix'
working_df.loc[working_df['breed'].str.contains('Miniature Schnauzer/'), 'breed'] = 'Miniature Schnauzer Mix'
working_df.loc[working_df['breed'].str.contains('Siberian Husky/'), 'breed'] = 'Siberian Husky Mix'
working_df.loc[working_df['breed'].str.contains('Chihuahua Longhair/'), 'breed'] = 'Chihuahua Longhair Mix'
working_df.loc[working_df['breed'].str.contains('Anatol Shepherd/'), 'breed'] = 'Anatol Shepherd Mix'
working_df.loc[working_df['breed'].str.contains('Plott Hound/'), 'breed'] = 'Plott Hound Mix'
working_df.loc[working_df['breed'].str.contains('Black Mouth Cur/'), 'breed'] = 'Black Mouth Cur Mix'
working_df.loc[working_df['breed'].str.contains('Rottweiler/'), 'breed'] = 'Rottweiler Mix'
working_df.loc[working_df['breed'].str.contains('Australian Kelpie/'), 'breed'] = 'Australian Kelpie Mix'
working_df.loc[working_df['breed'].str.contains('American Bulldog/'), 'breed'] = 'American Bulldog Mix'
working_df.loc[working_df['breed'].str.contains('Miniature Pinscher/'), 'breed'] = 'Miniature Pinscher Mix'
working_df.loc[working_df['breed'].str.contains('Border Terrier/'), 'breed'] = 'Border Terrier Mix'
working_df.loc[working_df['breed'].str.contains('American Pit Bull Terrier/'), 'breed'] = 'American Pit Bull Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Cardigan Welsh Corgi/'), 'breed'] = 'Cardigan Welsh Corgi Mix'
working_df.loc[working_df['breed'].str.contains('Golden Retriever/'), 'breed'] = 'Golden Retriever Mix'
working_df.loc[working_df['breed'].str.contains('Maltese/'), 'breed'] = 'Maltese Mix'
working_df.loc[working_df['breed'].str.contains('Blue Lacy/'), 'breed'] = 'Blue Lacy Mix'
working_df.loc[working_df['breed'].str.contains('Queensland Heeler/'), 'breed'] = 'Queensland Heeler Mix'
working_df.loc[working_df['breed'].str.contains('American Staffordshire Terrier/'), 'breed'] = 'American Staffordshire Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Basset Hound/'), 'breed'] = 'Basset Hound Mix'
working_df.loc[working_df['breed'].str.contains('Manchester Terrier/'), 'breed'] = 'Manchester Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Black/Tan Hound/'), 'breed'] = 'Black/Tan Hound Mix'
working_df.loc[working_df['breed'].str.contains('Collie Smooth/'), 'breed'] = 'Collie Smooth Mix'
working_df.loc[working_df['breed'].str.contains('Norfolk Terrier/'), 'breed'] = 'Norfolk Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Dachshund Longhair/'), 'breed'] = 'Dachshund Longhair Mix'
working_df.loc[working_df['breed'].str.contains('Redbone Hound/'), 'breed'] = 'Redbone Hound Mix'
working_df.loc[working_df['breed'].str.contains('Dachshund Wirehair/'), 'breed'] = 'Dachshund Wirehair Mix'
working_df.loc[working_df['breed'].str.contains('Doberman Pinsch/'), 'breed'] = 'Doberman Pinsch Mix'
working_df.loc[working_df['breed'].str.contains('Flat Coat Retriever/'), 'breed'] = 'Flat Coat Retriever Mix'
working_df.loc[working_df['breed'].str.contains('Mastiff/'), 'breed'] = 'Mastiff Mix'
working_df.loc[working_df['breed'].str.contains('Shih Tzu/'), 'breed'] = 'Shih Tzu Mix'
working_df.loc[working_df['breed'].str.contains('Chow Chow/'), 'breed'] = 'Chow Chow Mix'
working_df.loc[working_df['breed'].str.contains('Carolina Dog/'), 'breed'] = 'Carolina Dog Mix'
working_df.loc[working_df['breed'].str.contains('Harrier/'), 'breed'] = 'Harrier Mix'
working_df.loc[working_df['breed'].str.contains('Toy Poodle/'), 'breed'] = 'Toy Poodle Mix'
working_df.loc[working_df['breed'].str.contains('Whippet/'), 'breed'] = 'Whippet Mix'
working_df.loc[working_df['breed'].str.contains('Chinese Sharpei/'), 'breed'] = 'Chinese Sharpei Mix'
working_df.loc[working_df['breed'].str.contains('Alaskan Husky/'), 'breed'] = 'Alaskan Husky Mix'
working_df.loc[working_df['breed'].str.contains('Pembroke Welsh Corgi/'), 'breed'] = 'Pembroke Welsh Corgi Mix'
working_df.loc[working_df['breed'].str.contains('Basenji/'), 'breed'] = 'Basenji Mix'
working_df.loc[working_df['breed'].str.contains('Rhod Ridgeback/'), 'breed'] = 'Rhod Ridgeback Mix'
working_df.loc[working_df['breed'].str.contains('Cocker Spaniel/'), 'breed'] = 'Cocker Spaniel Mix'
working_df.loc[working_df['breed'].str.contains('Great Dane/'), 'breed'] = 'Great Dane Mix'
working_df.loc[working_df['breed'].str.contains('Soft Coated Wheaten Terrier/'), 'breed'] = 'Soft Coated Wheaten Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Pomeranian/'), 'breed'] = 'Pomeranian Mix'
working_df.loc[working_df['breed'].str.contains('Bruss Griffon/'), 'breed'] = 'Bruss Griffon Mix'
working_df.loc[working_df['breed'].str.contains('Pug/'), 'breed'] = 'Pug Mix'
working_df.loc[working_df['breed'].str.contains('Norwich Terrier/'), 'breed'] = 'Norwich Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Belgian Malinois/'), 'breed'] = 'Belgian Malinois Mix'
working_df.loc[working_df['breed'].str.contains('Wire Hair Fox Terrier/'), 'breed'] = 'Wire Hair Fox Terrier Mix'
working_df.loc[working_df['breed'].str.contains('English Bulldog/'), 'breed'] = 'English Bulldog Mix'
working_df.loc[working_df['breed'].str.contains('Boston Terrier/'), 'breed'] = 'Boston Terrier Mix'
working_df.loc[working_df['breed'].str.contains('German Shorthair Pointer/'), 'breed'] = 'German Shorthair Pointer Mix'
working_df.loc[working_df['breed'].str.contains('Papillon/'), 'breed'] = 'Papillon Mix'
working_df.loc[working_df['breed'].str.contains('Tibetan Spaniel/'), 'breed'] = 'Tibetan Spaniel Mix'
working_df.loc[working_df['breed'].str.contains('Smooth Fox Terrier/'), 'breed'] = 'Smooth Fox Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Dalmatian/'), 'breed'] = 'Dalmatian Mix'
working_df.loc[working_df['breed'].str.contains('Pbgv/'), 'breed'] = 'Pbgv Mix'
working_df.loc[working_df['breed'].str.contains('Bull Terrier/'), 'breed'] = 'Bull Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Vizsla/'), 'breed'] = 'Vizsla Mix'
working_df.loc[working_df['breed'].str.contains('Standard Schnauzer/'), 'breed'] = 'Standard Schnauzer Mix'
working_df.loc[working_df['breed'].str.contains('Weimaraner/'), 'breed'] = 'Weimaraner Mix'
working_df.loc[working_df['breed'].str.contains('Scottish Terrier/'), 'breed'] = 'Scottish Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Dutch Shepherd/'), 'breed'] = 'Dutch Shepherd Mix'
working_df.loc[working_df['breed'].str.contains('Pekingese/'), 'breed'] = 'Pekingese Mix'
working_df.loc[working_df['breed'].str.contains('Akita/'), 'breed'] = 'Akita Mix'
working_df.loc[working_df['breed'].str.contains('Pharaoh Hound/'), 'breed'] = 'Pharaoh Hound Mix'
working_df.loc[working_df['breed'].str.contains('Collie Rough/'), 'breed'] = 'Collie Rough Mix'
working_df.loc[working_df['breed'].str.contains('Bichon Frise/'), 'breed'] = 'Bichon Frise Mix'
working_df.loc[working_df['breed'].str.contains('English Coonhound/'), 'breed'] = 'English Coonhound Mix'
working_df.loc[working_df['breed'].str.contains('Italian Greyhound/'), 'breed'] = 'Italian Greyhound Mix'
working_df.loc[working_df['breed'].str.contains('Shiba Inu/'), 'breed'] = 'Shiba Inu Mix'
working_df.loc[working_df['breed'].str.contains('English Pointer/'), 'breed'] = 'English Pointer Mix'
working_df.loc[working_df['breed'].str.contains('Greyhound/'), 'breed'] = 'Greyhound Mix'
working_df.loc[working_df['breed'].str.contains('Lhasa Apso/'), 'breed'] = 'Lhasa Apso Mix'
working_df.loc[working_df['breed'].str.contains('Havanese/'), 'breed'] = 'Havanese Mix'
working_df.loc[working_df['breed'].str.contains('Shetland Sheepdog/'), 'breed'] = 'Shetland Sheepdog Mix'
working_df.loc[working_df['breed'].str.contains('West Highland/'), 'breed'] = 'West Highland Mix'
working_df.loc[working_df['breed'].str.contains('Bluetick Hound/'), 'breed'] = 'Bluetick Hound Mix'
working_df.loc[working_df['breed'].str.contains('Airedale Terrier/'), 'breed'] = 'Airedale Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Finnish Spitz/'), 'breed'] = 'Finnish Spitz Mix'
working_df.loc[working_df['breed'].str.contains('Chesa Bay Retr/'), 'breed'] = 'Chesa Bay Retr Mix'
working_df.loc[working_df['breed'].str.contains('Schnauzer Giant/'), 'breed'] = 'Schnauzer Giant Mix'
working_df.loc[working_df['breed'].str.contains('Bernese Mountain Dog/'), 'breed'] = 'Bernese Mountain Dog Mix'
working_df.loc[working_df['breed'].str.contains('Australian Terrier/'), 'breed'] = 'Australian Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Alaskan Malamute/'), 'breed'] = 'Alaskan Malamute Mix'
working_df.loc[working_df['breed'].str.contains('Parson Russell Terrier/'), 'breed'] = 'Parson Russell Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Toy Fox Terrier/'), 'breed'] = 'Toy Fox Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Irish Terrier/'), 'breed'] = 'Irish Terrier Mix'
working_df.loc[working_df['breed'].str.contains('American Eskimo/'), 'breed'] = 'American Eskimo Mix'
working_df.loc[working_df['breed'].str.contains('Bulldog/'), 'breed'] = 'Bulldog Mix'
working_df.loc[working_df['breed'].str.contains('Leonberger/'), 'breed'] = 'Leonberger Mix'
working_df.loc[working_df['breed'].str.contains('Swedish Vallhund/'), 'breed'] = 'Swedish Vallhund Mix'
working_df.loc[working_df['breed'].str.contains('Treeing Walker Coonhound/'), 'breed'] = 'Treeing Walker Coonhound Mix'
working_df.loc[working_df['breed'].str.contains('Glen Of Imaal/'), 'breed'] = 'Glen Of Imaal Mix'
working_df.loc[working_df['breed'].str.contains('Bloodhound/'), 'breed'] = 'Bloodhound Mix'
working_df.loc[working_df['breed'].str.contains('Bullmastiff/'), 'breed'] = 'Bullmastiff Mix'
working_df.loc[working_df['breed'].str.contains('Tibetan Terrier/'), 'breed'] = 'Tibetan Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Welsh Terrier/'), 'breed'] = 'Welsh Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Cavalier Span/'), 'breed'] = 'Cavalier Span Mix'
working_df.loc[working_df['breed'].str.contains('St. Bernard Smooth Coat/'), 'breed'] = 'St. Bernard Smooth Coat Mix'
working_df.loc[working_df['breed'].str.contains('Landseer/'), 'breed'] = 'Landseer Mix'
working_df.loc[working_df['breed'].str.contains('Dogo Argentino/'), 'breed'] = 'Dogo Argentino Mix'
working_df.loc[working_df['breed'].str.contains('Patterdale Terr/'), 'breed'] = 'Patterdale Terr Mix'
working_df.loc[working_df['breed'].str.contains('Field Spaniel/'), 'breed'] = 'Field Spaniel Mix'
working_df.loc[working_df['breed'].str.contains('Feist/'), 'breed'] = 'Feist Mix'
working_df.loc[working_df['breed'].str.contains('Beauceron/'), 'breed'] = 'Beauceron Mix'
working_df.loc[working_df['breed'].str.contains('Schipperke/'), 'breed'] = 'Schipperke Mix'
working_df.loc[working_df['breed'].str.contains('Dogue De Bordeaux/'), 'breed'] = 'Dogue De Bordeaux Mix'
working_df.loc[working_df['breed'].str.contains('Boykin Span/'), 'breed'] = 'Boykin Span Mix'
working_df.loc[working_df['breed'].str.contains('Standard Poodle/'), 'breed'] = 'Standard Poodle Mix'
working_df.loc[working_df['breed'].str.contains('Canaan Dog/'), 'breed'] = 'Canaan Dog Mix'
working_df.loc[working_df['breed'].str.contains('Silky Terrier/'), 'breed'] = 'Silky Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Presa Canario/'), 'breed'] = 'Presa Canario Mix'
working_df.loc[working_df['breed'].str.contains('Treeing Cur/'), 'breed'] = 'Treeing Cur Mix'
working_df.loc[working_df['breed'].str.contains('Podengo Pequeno/'), 'breed'] = 'Podengo Pequeno Mix'
working_df.loc[working_df['breed'].str.contains('German Wirehaired Pointer/'), 'breed'] = 'German Wirehaired Pointer Mix'
working_df.loc[working_df['breed'].str.contains('Newfoundland/'), 'breed'] = 'Newfoundland Mix'
working_df.loc[working_df['breed'].str.contains('St. Bernard Rough Coat/'), 'breed'] = 'St. Bernard Rough Coat Mix'
working_df.loc[working_df['breed'].str.contains('Old English Bulldog/'), 'breed'] = 'Old English Bulldog Mix'
working_df.loc[working_df['breed'].str.contains('Boerboel/'), 'breed'] = 'Boerboel Mix'
working_df.loc[working_df['breed'].str.contains('Irish Wolfhound/'), 'breed'] = 'Irish Wolfhound Mix'
working_df.loc[working_df['breed'].str.contains('Keeshond/'), 'breed'] = 'Keeshond Mix'
working_df.loc[working_df['breed'].str.contains('Kuvasz/'), 'breed'] = 'Kuvasz Mix'
working_df.loc[working_df['breed'].str.contains('Cane Corso/'), 'breed'] = 'Cane Corso Mix'
working_df.loc[working_df['breed'].str.contains('American Foxhound/'), 'breed'] = 'American Foxhound Mix'
working_df.loc[working_df['breed'].str.contains('English Shepherd/'), 'breed'] = 'English Shepherd Mix'
working_df.loc[working_df['breed'].str.contains('English Foxhound/'), 'breed'] = 'English Foxhound Mix'
working_df.loc[working_df['breed'].str.contains('Chinese Crested/'), 'breed'] = 'Chinese Crested Mix'
working_df.loc[working_df['breed'].str.contains('Picardy Sheepdog/'), 'breed'] = 'Picardy Sheepdog Mix'
working_df.loc[working_df['breed'].str.contains('Skye Terrier/'), 'breed'] = 'Skye Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Akbash/'), 'breed'] = 'Akbash Mix'
working_df.loc[working_df['breed'].str.contains('Wirehaired Pointing Griffon/'), 'breed'] = 'Wirehaired Pointing Griffon Mix'
working_df.loc[working_df['breed'].str.contains('Affenpinscher/'), 'breed'] = 'Affenpinscher Mix'
working_df.loc[working_df['breed'].str.contains('Mexican Hairless/'), 'breed'] = 'Mexican Hairless Mix'
working_df.loc[working_df['breed'].str.contains('Bearded Collie/'), 'breed'] = 'Bearded Collie Mix'
working_df.loc[working_df['breed'].str.contains('Greater Swiss Mountain Dog/'), 'breed'] = 'Greater Swiss Mountain Dog Mix'
working_df.loc[working_df['breed'].str.contains('French Bulldog/'), 'breed'] = 'French Bulldog Mix'
working_df.loc[working_df['breed'].str.contains('Nova Scotia Duck Tolling Retriever/'), 'breed'] = 'Nova Scotia Duck Tolling Retriever Mix'
working_df.loc[working_df['breed'].str.contains('Neapolitan Mastiff/'), 'breed'] = 'Neapolitan Mastiff Mix'
working_df.loc[working_df['breed'].str.contains('German Pinscher/'), 'breed'] = 'German Pinscher Mix'
working_df.loc[working_df['breed'].str.contains('English Cocker Spaniel/'), 'breed'] = 'English Cocker Spaniel Mix'
working_df.loc[working_df['breed'].str.contains('Treeing Tennesse Brindle/'), 'breed'] = 'Treeing Tennesse Brindle Mix'
working_df.loc[working_df['breed'].str.contains('Ibizan Hound/'), 'breed'] = 'Ibizan Hound Mix'
working_df.loc[working_df['breed'].str.contains('English Setter/'), 'breed'] = 'English Setter Mix'
working_df.loc[working_df['breed'].str.contains('Bull Terrier Miniature/'), 'breed'] = 'Bull Terrier Miniature Mix'
working_df.loc[working_df['breed'].str.contains('Welsh Springer Spaniel/'), 'breed'] = 'Welsh Springer Spaniel Mix'
working_df.loc[working_df['breed'].str.contains('Coton De Tulear/'), 'breed'] = 'Coton De Tulear Mix'
working_df.loc[working_df['breed'].str.contains('Brittany/'), 'breed'] = 'Brittany Mix'
working_df.loc[working_df['breed'].str.contains('Dandie Dinmont/'), 'breed'] = 'Dandie Dinmont Mix'
working_df.loc[working_df['breed'].str.contains('Belgian Sheepdog/'), 'breed'] = 'Belgian Sheepdog Mix'
working_df.loc[working_df['breed'].str.contains('Port Water Dog/'), 'breed'] = 'Port Water Dog Mix'
working_df.loc[working_df['breed'].str.contains('Bedlington Terr/'), 'breed'] = 'Bedlington Terr Mix'
working_df.loc[working_df['breed'].str.contains('Gordon Setter/'), 'breed'] = 'Gordon Setter Mix'
working_df.loc[working_df['breed'].str.contains('Eng Toy Spaniel/'), 'breed'] = 'Eng Toy Spaniel Mix'
working_df.loc[working_df['breed'].str.contains('Dachshund Stan/'), 'breed'] = 'Dachshund Stan Mix'
working_df.loc[working_df['breed'].str.contains('English Springer Spaniel/'), 'breed'] = 'English Springer Spaniel Mix'
working_df.loc[working_df['breed'].str.contains('Clumber Spaniel/'), 'breed'] = 'Clumber Spaniel Mix'
working_df.loc[working_df['breed'].str.contains('Saluki/'), 'breed'] = 'Saluki Mix'
working_df.loc[working_df['breed'].str.contains('Grand Basset Griffon Vendeen/'), 'breed'] = 'Grand Basset Griffon Vendeen Mix'
working_df.loc[working_df['breed'].str.contains('Hovawart/'), 'breed'] = 'Hovawart Mix'
working_df.loc[working_df['breed'].str.contains('Samoyed/'), 'breed'] = 'Samoyed Mix'
working_df.loc[working_df['breed'].str.contains('Jindo/'), 'breed'] = 'Jindo Mix'
working_df.loc[working_df['breed'].str.contains('Lakeland Terrier/'), 'breed'] = 'Lakeland Terrier Mix'
working_df.loc[working_df['breed'].str.contains('Lowchen/'), 'breed'] = 'Lowchen Mix'
working_df.loc[working_df['breed'].str.contains('Norwegian Elkhound/'), 'breed'] = 'Norwegian Elkhound Mix'
working_df.loc[working_df['breed'].str.contains('Otterhound/'), 'breed'] = 'Otterhound Mix'
working_df.loc[working_df['breed'].str.contains('Belgian Tervuren/'), 'breed'] = 'Belgian Tervuren Mix'
working_df.loc[working_df['breed'].str.contains('Sealyham Terr/'), 'breed'] = 'Sealyham Terr Mix'
working_df.loc[working_df['breed'].str.contains('Japanese Chin/'), 'breed'] = 'Japanese Chin Mix'
working_df.loc[working_df['breed'].str.contains('Afghan Hound/'), 'breed'] = 'Afghan Hound Mix'
working_df.loc[working_df['breed'].str.contains('Entlebucher/'), 'breed'] = 'Entlebucher Mix'

In [14]:
mix_df = working_df[working_df['breed'].str.contains('Mix')]\
        .sort_values(by=['animal_id'], ascending=False)
pure_df = working_df[~working_df['breed'].str.contains('Mix')]\
        .sort_values(by=['animal_id'], ascending=False)

In [31]:
# trying something a bit more hacky in order to determine length of stay
import datetime

diffs_df = working_df[["animal_id", "is_intake", "datetime"]].assign(date_diffs = working_df["datetime"].diff())

diffs_df = diffs_df[
    (diffs_df["date_diffs"]>=datetime.timedelta(days=0)) 
    &
    ([diffs_df["animal_id"].iloc[i] == diffs_df["animal_id"].iloc[i-1] for i in diffs_df.index])
]

# return is a bit wonky -- need to validate the number of stays first before calculating the difference in stay lengths

In [77]:
# diffs_df[diffs_df["is_intake"]==True]

agg_stays_df = working_df[["animal_id", "is_intake", "datetime"]].groupby("animal_id").agg(find_num_stays)

In [95]:
agg_stays_df2 = agg_stays_df[agg_stays_df["is_intake"]!=0].reset_index()
working_df2 = working_df.loc[
    working_df["animal_id"]
    .isin(agg_stays_df2["animal_id"].values)
]
agg_stays_df2 = agg_stays_df2.set_index("animal_id", drop=True)

# agg_stays_df2
working_df2 = working_df2.set_index("animal_id", drop=True).assign(num_stays = agg_stays_df2["is_intake"]).reset_index()
# working_df2[working_df2["animal_id"] == "A754989"]

,animal_id,name,datetime,found_location,type,intake_condition,animal_type,sex,age,breed,is_intake,date_of_birth,outcome_subtype,color_primary,color_secondary,num_stays
37695,A754989,Molly,2017-07-27 14:54:00,5801 Signal Point Blvd in Austin (TX),Owner Surrender,Normal,Dog,Intact Female,1 month,Labrador Retriever Mix,True,N/A,N/A,Tan,None,8
37696,A754989,Molly,2017-07-29 18:39:00,N/A,Adoption,N/A,Dog,Spayed Female,2 months,Labrador Retriever Mix,False,05/27/2017,N/A,Tan,None,8
37697,A754989,Molly,2018-12-06 15:46:00,Manor (TX),Owner Surrender,Normal,Dog,Spayed Female,1 year,Labrador Retriever Mix,True,N/A,N/A,Tan,None,8
37698,A754989,Molly,2018-12-17 18:15:00,N/A,Adoption,N/A,Dog,Spayed Female,1 year,Labrador Retriever Mix,False,05/27/2017,N/A,Tan,None,8
37699,A754989,Molly,2019-01-06 15:52:00,Outside Jurisdiction,Owner Surrender,Normal,Dog,Spayed Female,1 year,Labrador Retriever Mix,True,N/A,N/A,Tan,None,8
37700,A754989,Molly,2019-01-18 19:17:00,N/A,Adoption,N/A,Dog,Spayed Female,1 year,Labrador Retriever Mix,False,05/27/2017,N/A,Tan,None,8
37701,A754989,Molly,2019-01-19 11:20:00,Outside Jurisdiction,Owner Surrender,Normal,Dog,Spayed Female,1 year,Labrador Retriever Mix,True,N/A,N/A,Tan,None,8
37702,A754989,Molly,2019-01-19 13:40:00,N/A,Adoption,N/A,Dog,Spayed Female,1 year,Labrador Retriever Mix,False,05/27/2017,N/A,Tan,None,8
37703,A754989,Molly,2019-02-18 11:00:00,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,1 year,Labrador Retriever Mix,True,N/A,N/A,Tan,None,8
37704,A754989,Molly,2019-02-19 19:04:00,N/A,Adoption,N/A,Dog,Spayed Female,1 year,Labrador Retriever Mix,False,05/27/2017,N/A,Tan,None,8
37705,A754989,Molly,2019-09-04 13:50:00,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,Labrador Retriever Mix,True,N/A,N/A,Tan,None,8
37706,A754989,Molly,2019-09-08 14:43:00,N/A,Adoption,N/A,Dog,Spayed Female,2 years,Labrador Retriever Mix,False,05/27/2017,N/A,Tan,None,8
37707,A754989,Molly,2019-09-14 18:19:00,Outside Jurisdiction,Owner Surrender,Normal,Dog,Spayed Female,2 years,Labrador Retriever Mix,True,N/A,N/A,Tan,None,8
37708,A754989,Molly,2019-09-19 17:46:00,N/A,Adoption,N/A,Dog,Spayed Female,2 years,Labrador Retriever Mix,False,05/27/2017,N/A,Tan,None,8
37709,A754989,Molly,2019-09-29 16:15:00,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,Labrador Retriever Mix,True,N/A,N/A,Tan,None,8
37710,A754989,Molly,2019-10-26 16:06:00,N/A,Adoption,N/A,Dog,Spayed Female,2 years,Labrador Retriever Mix,False,05/27/2017,N/A,Tan,None,8

In [96]:
stay_len_df = working_df2[["animal_id", "is_intake", "datetime"]].groupby("animal_id").agg(find_staymean)
stay_len_df

           is_intake  datetime
animal_id
A200922         49.0      49.0
A210457          9.0       9.0
A226069         23.0      23.0
A249087         89.0      89.0
A274546          2.0       2.0
...              ...       ...
A811450          3.0       3.0
A811507          2.0       2.0
A811509          0.0       0.0
A811534          2.0       2.0
A811598          1.0       1.0

[25779 rows x 2 columns]

In [104]:
stay_len_df2 = stay_len_df[stay_len_df["is_intake"]!=0].reset_index()
working_df3 = working_df2.loc[
    working_df2["animal_id"]
    .isin(stay_len_df2["animal_id"].values)]
stay_len_df2 = stay_len_df2.set_index("animal_id", drop=True)
working_df3 = working_df3.set_index("animal_id", drop=True).assign(avg_stay_len = stay_len_df2["is_intake"]).reset_index()

# stay_len_df2

,animal_id,name,datetime,found_location,type,intake_condition,animal_type,sex,age,breed,is_intake,date_of_birth,outcome_subtype,color_primary,color_secondary,num_stays,avg_stay_len
0,A200922,Carlos,2013-10-03 15:47:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,16 years,Dachshund Mix,True,N/A,N/A,Black,Tan,1,49.0
1,A200922,Carlos,2013-11-22 09:44:00,N/A,Adoption,N/A,Dog,Neutered Male,16 years,Dachshund Mix,False,10/03/1997,Foster,Black,Tan,1,49.0
2,A210457,Caleb,2016-09-28 12:05:00,4424 S Mopac #412 in Austin (TX),Public Assist,Aged,Dog,Neutered Male,17 years,Chihuahua Shorthair,True,N/A,N/A,Tan,Black,1,9.0
3,A210457,Caleb,2016-10-07 12:34:00,N/A,Adoption,N/A,Dog,Neutered Male,17 years,Chihuahua Shorthair,False,06/01/1999,Foster,Tan,Black,1,9.0
4,A226069,Cedar,2015-10-06 12:29:00,Wheless Ln And Berkman Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,15 years,Labrador Retriever Mix,True,N/A,N/A,Tricolor,White,1,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60397,A811507,N/A,2020-01-06 17:37:00,N/A,Adoption,N/A,Dog,Neutered Male,2 months,Wire Hair Fox Terrier,False,10/20/2019,N/A,Black,White,1,2.0
60398,A811534,Lilu,2020-01-05 13:01:00,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,11 years,Dachshund,True,N/A,N/A,Black,Brown,1,2.0
60399,A811534,Lilu,2020-01-07 15:01:00,N/A,Adoption,N/A,Dog,Spayed Female,11 years,Dachshund,False,01/05/2009,N/A,Black,Brown,1,2.0
60400,A811598,Ginger,2020-01-06 12:09:00,Travis (TX),Owner Surrender,Normal,Dog,Spayed Female,8 years,Chihuahua Shorthair,True,N/A,N/A,White,Red,1,1.0
60401,A811598,Ginger,2020-01-07 16:28:00,N/A,Adoption,N/A,Dog,Spayed Female,8 years,Chihuahua Shorthair,False,01/07/2012,N/A,White,Red,1,1.0

In [127]:
grouped_dogs_df = working_df3.groupby("animal_id").first()
describe_df2 = grouped_dogs_df.sort_values(by= "avg_stay_len")
# describe_df2[grouped_dogs_df["avg_stay_len"] == grouped_dogs_df["avg_stay_len"].max()]
describe_df2.head(10)

,name,datetime,found_location,type,intake_condition,animal_type,sex,age,breed,is_intake,date_of_birth,outcome_subtype,color_primary,color_secondary,num_stays,avg_stay_len
animal_id,,,,,,,,,,,,,,,,
A803641,Pancho,2019-09-03 19:15:00,Austin (TX),Owner Surrender,Normal,Dog,Intact Male,2 months,Chihuahua Shorthair Mix,True,N/A,N/A,Brown,White,3,0.333333
A747956,Princess Ana,2017-04-27 12:39:00,Austin (TX),Owner Surrender,Normal,Dog,Intact Female,2 months,Chihuahua Shorthair Mix,True,N/A,N/A,Tan,None,2,0.500000
A747955,King Paco,2017-04-27 12:39:00,Austin (TX),Owner Surrender,Normal,Dog,Intact Male,2 months,Chihuahua Shorthair Mix,True,N/A,N/A,Black,Tan,2,0.500000
A563004,Coco,2014-01-04 12:41:00,1601 E Slaughter in Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,5 years,Miniature Poodle,True,N/A,N/A,Black,Tan,2,0.500000
A803782,Kobe,2019-09-06 11:38:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,9 months,Cardigan Welsh Corgi Mix,True,N/A,N/A,Brown,White,2,0.500000
A695904,Indiana,2015-01-25 12:21:00,Del Valle (TX),Owner Surrender,Normal,Dog,Intact Male,1 month,Border Collie Mix,True,N/A,N/A,Tricolor,None,2,0.500000
A686364,Bubba,2014-08-20 18:01:00,Austin (TX),Owner Surrender,Normal,Dog,Intact Male,4 months,Pug Mix,True,N/A,N/A,Brown,Black,2,0.500000
A790716,*Caesar,2019-03-15 11:12:00,Manor (TX),Owner Surrender,Normal,Dog,Neutered Male,4 years,Alaskan Malamute,True,N/A,N/A,Tricolor,None,2,0.500000
A743015,Hershey,2017-02-02 09:06:00,Manor (TX),Owner Surrender,Normal,Dog,Spayed Female,1 year,Labrador Retriever Mix,True,N/A,N/A,Black,White,2,0.500000
A721167,Milo,2016-02-22 15:37:00,Outside Jurisdiction,Owner Surrender,Normal,Dog,Intact Male,2 months,Dachshund Mix,True,N/A,N/A,Red,None,2,0.500000

In [141]:
dog_columns = list(grouped_dogs_df.columns)
for column in ["animal_type", "outcome_subtype", "is_intake", "date_of_birth"]:
    dog_columns.remove(column)
final_df = grouped_dogs_df[dog_columns].reset_index()

In [152]:
def round_off(avg_stay_len):
    if avg_stay_len <1:
        avg_stay_len = 1
    
    return avg_stay_len

final_df["avg_stay_len"] = final_df["avg_stay_len"].apply(round_to_1)

In [153]:
final_df.to_csv("Animal_Shelter_Final.csv", index=False)

In [46]:
#Creates Molly dataframe for testing.
molly = working_df.set_index("animal_id").loc["A754989"].reset_index()
def find_staymean(df):
#Finds the mean length of stay for a particular animal id if and only if
#the stay has followed by an adoption outcome.
    stay_list=[]
    first_row = df.iloc[0, :]
    if first_row["is_intake"]:
        x_len = len(df)
#The range has to be the length of the dataframe-1 because of the need to add 1 to the current row
#The for loop cannot use iterrows because the result has to refer to the current row and the next one.
        for i in range(0, x_len - 1):
#Sets variables equal to the first and second rows of the dataframe
            x1_row = df.iloc[i, :]
            x2_row = df.iloc[i + 1, :]
#First in pair has to be intake, the next has to be an outcome
            if (x1_row["is_intake"]==True) & (x2_row["is_intake"]==False):
#A pair of rows is valid if they are not both intakes or both outcomes.
                if x1_row["is_intake"] != x2_row["is_intake"]:
#Stay length is the number of days between intake and adoption outcome.
                    stay = (x2_row['datetime']-x1_row["datetime"]).days
                    stay_list.append(stay)
# Calculates and returns average
    try:
        average_stay = sum(stay_list)/len(stay_list)
    except ZeroDivisionError:
        average_stay = 0
        
    return average_stay
find_staymean(molly)

7.5

In [48]:
def find_num_stays(df):
#Finds the number of stays for a particular animal id if and only if
#the stay was  followed by an adoption outcome.
    stay_list=[]
    first_row = df.iloc[0, :]
    if first_row["is_intake"]:
        x_len = len(df)
#The range has to be the length of the dataframe-1 because of the need to add 1 to the current row
#The for loop cannot use iterrows because the result has to refer to the current row and the next one.
        for i in range(0, x_len - 1):
#Sets variables equal to the first and second rows of the dataframe
            x1_row = df.iloc[i, :]
            x2_row = df.iloc[i + 1, :]
#First in pair has to be intake, the next has to be an outcome
            if (x1_row["is_intake"]==True) & (x2_row["is_intake"]==False) and (x1_row["animal_id"] == x2_row["animal_id"]):
#A pair of rows is valid if they are not both intakes or both outcomes.
                if x1_row["is_intake"] != x2_row["is_intake"]:
#Stay length is the number of days between intake and adoption outcome.
                    stay = (x2_row['datetime']-x1_row["datetime"]).days
                    stay_list.append(stay)
# Calculates and returns average
    num_stays=len(stay_list)
    return num_stays
find_num_stays(molly)

8

In [36]:
animal_id_list = working_df["animal_id"].unique()
stays_df = pd.DataFrame(columns = ["animal_id", "num_stays","avg_len_stay"])

for a_id in animal_id_list:
        a_id_df = working_df[working_df["animal_id"]==a_id][["animal_id", "is_intake", "datetime"]]
        print(a_id_df)
        
        num_stays = find_num_stays(a_id_df)
        avg_len_stay = find_staymean(a_id_df)
        
        stays_df.append(
            {"animal_id":a_id, 
             "num_stays":num_stays,
             "avg_len_stay":avg_len_stay
            },
            ignore_index=True
        )

stays_df

  animal_id  is_intake            datetime
0   A200922       True 2013-10-03 15:47:00
1   A200922      False 2013-11-22 09:44:00
  animal_id  is_intake            datetime
2   A210457       True 2016-09-28 12:05:00
3   A210457      False 2016-10-07 12:34:00
  animal_id  is_intake            datetime
4   A226069       True 2015-10-06 12:29:00
5   A226069      False 2015-10-29 15:00:00
  animal_id  is_intake            datetime
6   A249087       True 2016-08-17 14:05:00
7   A249087      False 2016-11-15 10:37:00
  animal_id  is_intake            datetime
8   A274546       True 2013-11-13 18:16:00
9   A274546      False 2013-11-16 12:24:00
   animal_id  is_intake            datetime
10   A281542       True 2013-12-23 13:23:00
11   A281542      False 2014-05-19 12:32:00
   animal_id  is_intake            datetime
12   A302820       True 2014-02-27 14:17:00
13   A302820      False 2014-07-25 10:30:00
   animal_id  is_intake            datetime
14   A338231       True 2015-05-18 14:14:00
15   A338231       True 2018-02-25 14:30:00
16   A338231      False 2018-03-25 13:25:00
   animal_id  is_intake            datetime
17   A338643       True 2016-12-16 09:50:00
18   A338643      False 2017-03-16 18:55:00
   animal_id  is_intake            datetime
19   A338821       True 2015-02-19 17:19:00
20   A338821      False 2015-03-18 16:57:00
   animal_id  is_intake            datetime
21   A339803       True 2013-11-08 15:15:00
22   A339803      False 2014-01-05 16:10:00
   animal_id  is_intake            datetime
23   A342659       True 2017-08-04 12:29:00
24   A342659      False 2017-09-12 08:53:00
   animal_id  is_intake            datetime
25   A346010       True 2016-08-11 17:48:00
26   A346010      False 2016-08-18 16:42:00
   animal_id  is_intake            datetime
27   A348272       True 2015-07-19 10:21:00
28   A348272      False 2015-07-24 18:19:00
   animal_id  is_intake            datetime
29   A349317       True 2017-08-15 11:01:00
30   A349317      False 2017-08-17 18:30:00
   animal_id  is_intake            datetime
31   A355688       True 2014-01-26 13:48:00
32   A355688      False 2014-02-23 17:48:00
   animal_id  is_intake            datetime
33   A355753       True 2015-09-10 13:14:00
34   A355753      False 2015-09-19 18:08:00
35   A355753       True 2015-09-29 13:08:00
   animal_id  is_intake            datetime
36   A362707       True 2016-01-27 12:27:00
37   A362707      False 2017-01-10 10:44:00
   animal_id  is_intake            datetime
38   A367438       True 2015-09-10 16:01:00
39   A367438      False 2015-09-12 13:30:00
   animal_id  is_intake            datetime
40   A367747       True 2014-10-19 14:49:00
41   A367747      False 2014-11-04 08:34:00
   animal_id  is_intake            datetime
42   A373687       True 2014-03-20 12:31:00
43   A373687      False 2014-04-08 14:05:00
   animal_id  is_intake            datetime
44   A378348       True 2013-12-12 11:07:00
45   A378348      False 2014-01-19 13:39:00
46   A378348       True 2014-01-25 14:38:00
47   A378348      False 2014-04-23 07:43:00
   animal_id  is_intake            datetime
48   A378946       True 2017-09-28 13:36:00
49   A378946      False 2017-10-14 18:31:00
   animal_id  is_intake            datetime
50   A380420       True 2017-08-04 16:45:00
51   A380420      False 2018-02-22 07:06:00
   animal_id  is_intake            datetime
52   A390222       True 2013-12-04 18:24:00
53   A390222      False 2013-12-08 15:16:00
54   A390222       True 2013-12-08 17:04:00
55   A390222      False 2013-12-15 17:10:00
   animal_id  is_intake            datetime
56   A396810       True 2016-08-22 16:13:00
57   A396810      False 2016-12-23 13:19:00
   animal_id  is_intake            datetime
58   A400498       True 2016-10-04 20:31:00
59   A400498      False 2016-10-15 13:57:00
   animal_id  is_intake            datetime
60   A400680       True 2017-06-17 13:29:00
61   A400680      False 2017-10-02 14:35:00
   animal_id  is_intake            datetime
62   A412626       True 2016-03-13 11:17:00
63   A412626      False 2016-03-28 13:15:00
   animal_id  is_intake            datetime
64   A414620       True 2017-10-22 13:30:00
65   A414620      False 2017-10-28 18:25:00
   animal_id  is_intake            datetime
66   A417737       True 2018-03-04 15:53:00
67   A417737       True 2018-08-19 11:42:00
68   A417737      False 2019-08-03 14:26:00
   animal_id  is_intake            datetime
69   A423546       True 2016-10-07 16:08:00
70   A423546      False 2016-10-08 14:51:00
   animal_id  is_intake            datetime
71   A428783       True 2014-01-31 16:25:00
72   A428783      False 2014-02-13 16:33:00
   animal_id  is_intake            datetime
73   A430368       True 2014-01-21 09:22:00
74   A430368      False 2014-02-21 18:09:00
   animal_id  is_intake            datetime
75   A431615       True 2014-05-13 14:00:00
76   A431615      False 2014-08-01 07:51:00
   animal_id  is_intake            datetime
77   A438287       True 2018-01-02 13:27:00
78   A438287      False 2018-01-04 12:40:00
79   A438287       True 2018-01-08 12:03:00
80   A438287      False 2018-01-13 17:54:00
   animal_id  is_intake            datetime
81   A441798       True 2014-06-26 12:33:00
82   A441798      False 2014-11-04 08:42:00
   animal_id  is_intake            datetime
83   A442798       True 2015-04-10 16:59:00
84   A442798      False 2015-04-29 14:46:00
   animal_id  is_intake            datetime
85   A443085       True 2014-03-19 10:33:00
86   A443085      False 2014-07-21 16:23:00
87   A443085       True 2014-08-01 12:44:00
   animal_id  is_intake            datetime
88   A443790       True 2014-09-03 17:00:00
89   A443790      False 2014-09-13 17:58:00
   animal_id  is_intake            datetime
90   A445694       True 2013-10-09 15:25:00
91   A445694      False 2013-10-25 16:31:00
   animal_id  is_intake            datetime
92   A447033       True 2015-01-20 14:08:00
93   A447033      False 2015-02-14 15:45:00
   animal_id  is_intake            datetime
94   A448267       True 2014-05-16 17:04:00
95   A448267       True 2015-05-01 18:40:00
96   A448267      False 2015-06-25 12:44:00
   animal_id  is_intake            datetime
97   A452508       True 2016-01-12 17:34:00
98   A452508      False 2016-09-30 11:37:00
    animal_id  is_intake            datetime
99    A453102       True 2016-11-17 12:51:00
100   A453102       True 2016-12-26 18:02:00
101   A453102      False 2017-01-11 08:26:00
    animal_id  is_intake            datetime
102   A453523       True 2016-08-26 18:57:00
103   A453523      False 2016-09-04 13:05:00
    animal_id  is_intake            datetime
104   A455868       True 2014-05-27 11:10:00
105   A455868      False 2014-07-27 11:26:00
    animal_id  is_intake            datetime
106   A456133       True 2016-01-10 14:40:00
107   A456133      False 2017-10-13 14:26:00
    animal_id  is_intake            datetime
108   A457029       True 2014-07-17 11:58:00
109   A457029      False 2014-08-04 12:03:00
    animal_id  is_intake            datetime
110   A460458       True 2016-02-12 14:43:00
111   A460458      False 2016-02-23 16:18:00
112   A460458       True 2017-05-16 09:03:00
113   A460458      False 2017-06-10 13:30:00
    animal_id  is_intake            datetime
114   A462504       True 2014-04-23 11:26:00
115   A462504       True 2014-08-29 15:00:00
116   A462504      False 2014-09-08 15:12:00
117   A462504       True 2016-11-10 16:02:00
118   A462504      False 2017-02-09 09:39:00
    animal_id  is_intake            datetime
119   A465849       True 2016-01-02 15:21:00
120   A465849       True 2018-01-15 12:10:00
121   A465849      False 2018-01-20 17:49:00
    animal_id  is_intake            datetime
122   A468026       True 2013-12-20 19:55:00
123   A468026       True 2015-09-19 00:02:00
124   A468026      False 2016-11-12 14:39:00
    animal_id  is_intake            datetime
125   A471015       True 2013-12-11 12:50:00
126   A471015      False 2013-12-14 13:32:00
    animal_id  is_intake            datetime
127   A476054       True 2015-05-07 14:00:00
128   A476054       True 2015-08-18 11:03:00
129   A476054      False 2015-09-12 12:27:00
    animal_id  is_intake            datetime
130   A477912       True 2019-05-06 14:18:00
131   A477912      False 2019-05-18 16:54:00
    animal_id  is_intake            datetime
132   A478560       True 2014-03-09 16:18:00
133   A478560       True 2016-03-19 12:06:00
134   A478560      False 2016-04-03 12:21:00
135   A478560       True 2016-04-07 18:44:00
136   A478560      False 2016-05-07 13:18:00
    animal_id  is_intake            datetime
137   A479137       True 2014-03-28 15:39:00
138   A479137      False 2014-04-03 11:52:00
    animal_id  is_intake            datetime
139   A482199       True 2019-03-23 12:32:00
140   A482199      False 2019-06-04 11:58:00
    animal_id  is_intake            datetime
141   A484080       True 2016-08-04 18:52:00
142   A484080      False 2016-08-16 12:17:00
143   A484080       True 2016-11-26 23:25:00
    animal_id  is_intake            datetime
144   A484851       True 2016-05-17 19:10:00
145   A484851      False 2016-05-26 16:28:00
    animal_id  is_intake            datetime
146   A485674       True 2014-12-24 14:49:00
147   A485674      False 2014-12-29 11:37:00
    animal_id  is_intake            datetime
148   A485940       True 2015-10-08 14:15:00
149   A485940      False 2015-10-24 12:20:00
    animal_id  is_intake            datetime
150   A488066       True 2014-06-18 15:13:00
151   A488066      False 2014-06-30 11:37:00
    animal_id  is_intake            datetime
152   A489704       True 2015-03-09 11:05:00
153   A489704      False 2015-03-19 17:34:00
    animal_id  is_intake            datetime
154   A489912       True 2016-02-01 15:12:00
155   A489912      False 2016-02-10 19:00:00
    animal_id  is_intake            datetime
156   A492808       True 2014-09-14 14:27:00
157   A492808      False 2014-09-27 16:25:00
    animal_id  is_intake            datetime
158   A493167       True 2017-04-21 14:59:00
159   A493167      False 2017-09-10 16:28:00
    animal_id  is_intake            datetime
160   A493772       True 2013-12-23 13:23:00
161   A493772      False 2014-01-07 17:41:00
    animal_id  is_intake            datetime
162   A494120       True 2016-04-02 15:57:00
163   A494120      False 2016-04-07 19:38:00
164   A494120       True 2016-04-11 17:49:00
165   A494120      False 2016-07-31 14:49:00
    animal_id  is_intake            datetime
166   A495060       True 2016-06-14 13:58:00
167   A495060      False 2016-07-24 08:05:00
168   A495060       True 2016-09-06 15:07:00
169   A495060      False 2016-11-20 11:41:00
    animal_id  is_intake            datetime
170   A495740       True 2015-12-14 12:58:00
171   A495740      False 2015-12-19 15:02:00
    animal_id  is_intake            datetime
172   A498720       True 2016-03-19 16:37:00
173   A498720      False 2016-07-29 13:25:00
174   A498720       True 2018-12-12 15:16:00
175   A498720      False 2018-12-24 15:57:00
    animal_id  is_intake            datetime
176   A500349       True 2016-07-05 14:14:00
177   A500349      False 2016-07-09 13:09:00
    animal_id  is_intake            datetime
178   A501443       True 2014-08-11 13:02:00
179   A501443      False 2014-09-17 14:10:00
    animal_id  is_intake            datetime
180   A501508       True 2018-07-21 15:50:00
181   A501508      False 2018-08-08 19:00:00
182   A501508       True 2018-08-10 17:24:00
183   A501508      False 2019-08-07 09:36:00
    animal_id  is_intake            datetime
184   A501761       True 2019-05-29 11:11:00
185   A501761      False 2019-08-12 18:31:00
    animal_id  is_intake            datetime
186   A502315       True 2014-12-20 13:09:00
187   A502315      False 2015-02-07 14:39:00
    animal_id  is_intake            datetime
188   A502606       True 2017-12-23 12:29:00
189   A502606      False 2018-08-01 16:34:00
    animal_id  is_intake            datetime
190   A503431       True 2017-03-29 09:08:00
191   A503431      False 2017-05-02 00:00:00
    animal_id  is_intake            datetime
192   A504891       True 2015-04-17 12:17:00
193   A504891      False 2015-04-17 15:43:00
    animal_id  is_intake            datetime
194   A506000       True 2016-05-17 13:51:00
195   A506000      False 2016-09-21 12:03:00
    animal_id  is_intake            datetime
196   A506775       True 2016-02-01 15:12:00
197   A506775      False 2016-02-13 12:35:00
198   A506775       True 2016-06-08 00:00:00
    animal_id  is_intake            datetime
199   A511051       True 2018-05-20 13:58:00
200   A511051      False 2018-09-29 17:23:00
    animal_id  is_intake            datetime
201   A512959       True 2014-10-26 17:17:00
202   A512959      False 2014-11-02 11:40:00
    animal_id  is_intake            datetime
203   A514160       True 2018-05-29 12:25:00
204   A514160      False 2018-06-05 11:34:00
    animal_id  is_intake            datetime
205   A515049       True 2015-02-07 11:08:00
206   A515049      False 2015-03-08 12:09:00
    animal_id  is_intake            datetime
207   A515271       True 2014-11-09 16:06:00
208   A515271      False 2015-05-18 12:31:00
    animal_id  is_intake            datetime
209   A516259       True 2015-12-16 14:49:00
210   A516259      False 2016-02-01 11:16:00
    animal_id  is_intake            datetime
211   A516577       True 2015-11-17 13:08:00
212   A516577      False 2015-12-29 03:00:00
213   A516577       True 2016-02-11 11:53:00
214   A516577      False 2016-02-13 18:54:00
    animal_id  is_intake            datetime
215   A516660       True 2013-12-20 11:01:00
216   A516660      False 2014-01-01 15:32:00
    animal_id  is_intake            datetime
217   A517675       True 2015-08-05 15:57:00
218   A517675      False 2015-08-29 12:49:00
219   A517675       True 2015-09-03 17:23:00
220   A517675      False 2015-09-05 13:53:00
221   A517675       True 2015-09-07 11:32:00
222   A517675      False 2015-09-20 13:08:00
    animal_id  is_intake            datetime
223   A521990       True 2016-05-12 16:46:00
224   A521990      False 2016-05-28 15:52:00
    animal_id  is_intake            datetime
225   A524313       True 2016-07-05 11:51:00
226   A524313      False 2016-08-27 11:36:00
    animal_id  is_intake            datetime
227   A524634       True 2015-01-02 18:54:00
228   A524634      False 2015-06-24 08:26:00
    animal_id  is_intake            datetime
229   A525768       True 2014-02-15 12:51:00
230   A525768      False 2014-02-22 17:46:00
    animal_id  is_intake            datetime
231   A528321       True 2014-04-26 17:07:00
232   A528321      False 2014-05-18 17:42:00
    animal_id  is_intake            datetime
233   A528322       True 2014-04-26 17:07:00
234   A528322      False 2014-05-04 13:22:00
    animal_id  is_intake            datetime
235   A528524       True 2014-09-07 11:04:00
236   A528524      False 2014-09-11 11:24:00
237   A528524       True 2016-03-05 07:58:00
    animal_id  is_intake            datetime
238   A529318       True 2015-08-16 14:00:00
239   A529318      False 2015-09-11 15:12:00
    animal_id  is_intake            datetime
240   A530547       True 2017-06-23 16:47:00
241   A530547      False 2017-10-13 11:44:00
    animal_id  is_intake            datetime
242   A531317       True 2017-09-08 14:56:00
243   A531317      False 2017-09-17 05:55:00
244   A531317       True 2017-09-19 13:59:00
245   A531317      False 2018-05-18 15:54:00
    animal_id  is_intake            datetime
246   A531378       True 2019-07-10 07:17:00
247   A531378      False 2020-01-07 11:36:00
    animal_id  is_intake            datetime
248   A531394       True 2015-04-21 16:59:00
249   A531394      False 2015-05-02 19:10:00
    animal_id  is_intake            datetime
250   A531398       True 2014-05-04 17:04:00
251   A531398      False 2014-06-01 18:14:00
    animal_id  is_intake            datetime
252   A532017       True 2014-01-04 17:05:00
253   A532017      False 2014-01-05 18:11:00
    animal_id  is_intake            datetime
254   A532351       True 2014-02-20 22:31:00
255   A532351       True 2015-01-09 11:45:00
256   A532351      False 2015-01-12 18:02:00
    animal_id  is_intake            datetime
257   A532406       True 2014-09-18 12:28:00
258   A532406      False 2014-09-22 18:16:00
    animal_id  is_intake            datetime
259   A532694       True 2015-10-16 14:04:00
260   A532694      False 2015-10-31 14:04:00
261   A532694       True 2015-11-02 07:33:00
    animal_id  is_intake            datetime
262   A532762       True 2017-01-02 17:01:00
263   A532762      False 2017-01-10 14:38:00
    animal_id  is_intake            datetime
264   A533106       True 2014-07-02 17:29:00
265   A533106      False 2014-09-14 15:57:00
    animal_id  is_intake            datetime
266   A533243       True 2016-12-20 16:50:00
267   A533243       True 2017-02-24 11:52:00
268   A533243      False 2018-02-13 16:27:00
    animal_id  is_intake            datetime
269   A533602       True 2014-10-08 12:54:00
270   A533602       True 2016-05-31 15:19:00
271   A533602      False 2016-06-10 16:47:00
    animal_id  is_intake            datetime
272   A534208       True 2017-08-08 11:26:00
273   A534208      False 2017-08-29 17:46:00
    animal_id  is_intake            datetime
274   A534548       True 2014-04-29 18:30:00
275   A534548      False 2014-05-09 13:53:00
    animal_id  is_intake            datetime
276   A534780       True 2013-11-09 18:24:00
277   A534780       True 2013-11-21 13:32:00
278   A534780      False 2014-01-13 19:30:00
279   A534780       True 2016-11-01 10:36:00
280   A534780      False 2016-11-27 14:12:00
281   A534780       True 2016-12-31 11:33:00
282   A534780      False 2017-01-03 11:37:00
    animal_id  is_intake            datetime
283   A535012       True 2014-08-29 16:43:00
284   A535012       True 2016-04-08 15:09:00
285   A535012      False 2016-04-14 18:50:00
    animal_id  is_intake            datetime
286   A535124       True 2014-05-21 17:37:00
287   A535124      False 2014-06-03 13:56:00
    animal_id  is_intake            datetime
288   A535292       True 2016-10-05 14:50:00
289   A535292      False 2016-12-06 11:33:00
    animal_id  is_intake            datetime
290   A535405       True 2019-06-14 14:47:00
291   A535405      False 2019-06-20 12:53:00
    animal_id  is_intake            datetime
292   A535484       True 2014-09-21 18:13:00
293   A535484      False 2014-12-07 18:38:00
    animal_id  is_intake            datetime
294   A535768       True 2017-11-28 12:02:00
295   A535768      False 2017-11-30 19:09:00
    animal_id  is_intake            datetime
296   A536404       True 2016-04-04 11:39:00
297   A536404       True 2016-06-11 11:46:00
298   A536404      False 2016-06-24 16:47:00
    animal_id  is_intake            datetime
299   A536506       True 2014-04-22 11:01:00
300   A536506      False 2014-04-26 18:46:00
    animal_id  is_intake            datetime
301   A538342       True 2015-10-31 11:31:00
302   A538342      False 2015-11-27 14:59:00
    animal_id  is_intake            datetime
303   A542046       True 2019-05-08 12:44:00
304   A542046      False 2019-09-07 12:37:00
    animal_id  is_intake            datetime
305   A543073       True 2015-04-28 10:54:00
306   A543073      False 2015-05-09 13:47:00
307   A543073       True 2015-05-11 16:53:00
    animal_id  is_intake            datetime
308   A543232       True 2017-05-23 10:20:00
309   A543232      False 2017-11-24 18:12:00
    animal_id  is_intake            datetime
310   A543374       True 2016-06-30 11:29:00
311   A543374      False 2016-07-18 15:29:00
    animal_id  is_intake            datetime
312   A544464       True 2016-05-15 12:22:00
313   A544464      False 2016-05-16 18:18:00
314   A544464       True 2016-05-30 07:11:00
    animal_id  is_intake            datetime
315   A544595       True 2018-03-19 16:02:00

KeyboardInterrupt:

In [41]:
def construct_df_calc_stay_len(df):
    stay_list=[]
    working_df2=pd.DataFrame()
    df["stay_len"]=np.nan
    df["outcome_age"]=np.nan
    df["outcome_dt"]=np.nan
    df["num_stays"]=np.nan
#Finds the number of stays for a particular animal id if and only if
#the stay was  followed by an adoption outcome.
    first_row = df.iloc[0, :]
    if first_row["is_intake"]:
        x_len = len(df)
#The range has to be the length of the dataframe-1 because of the need to add 1 to the current row
#The for loop cannot use iterrows because the result has to refer to the current row and the next one.
        for i in range(0, x_len - 1):
#Sets variables equal to the first and second rows of the dataframe
            x1_row = df.iloc[i, :]
            x2_row = df.iloc[i + 1, :]
            x2_age = df.iat[i+1, 7]
            x1_row["outcome_age"]=x2_age
            x2_outcome_dt = df.iat[i+1, 1]
#First in pair has to be intake, the next has to be an outcome
            if ((x1_row["is_intake"]) & (x2_row["is_intake"]==False)) and (x1_row["animal_id"]==x2_row["animal_id"]):
#A pair of rows is valid if they are not both intakes or both outcomes.
                if x1_row["is_intake"] != x2_row["is_intake"]:
#Stay length is the number of days between intake and adoption outcome.
                    x1_row["outcome_dt"]=x2_outcome_dt
                    stay = (x2_row['datetime']-x1_row["datetime"]).days
                    x1_row["stay_len"]=stay
                    stay_list.append(stay)
                    numstays=len(stay_list)
                    x1_row["num_stays"]=numstays
                    working_df2=working_df2.append(x1_row, ignore_index=False)
    working_df2.rename(columns={'type':'intake_type'}, inplace=True)
    return working_df2

In [15]:
# # make sure to install these packages before running:
# # pip install pandas
# # pip install sodapy

# import pandas as pd
# from sodapy import Socrata
# import requests

# app_token="3mubvsyw1rybaisquwqluss7zqf6c3nqxu5g4x56odov7ggexx"
# def get_soda_api_data(endpoint, app_token, count=1000, offset=0, return_df=True):
#     params = {'$$app_token': app_token, '$limit': count, '$offset': offset, }
    
#     results = []

#     while True:

#         try:
#             r = requests.get(endpoint, params=params)
#             rcontent = r.json()

#             if rcontent == []:
#                 break

#             results.append(rcontent)
#             offset += count 
#             params['$offset'] = offset

#         except HTTPError as err:

#             if err.response.status_code == '404':
#                 break
#             else:
#                 print(err.response.status_code)
    
#     if return_df:
#         results_df = pd.DataFrame()

#         for i in results:
#             results_df = results_df.append(pd.io.json.json_normalize(i))
        
#         return results_df
    
#     else:
#         return results
    
# endpoint="https://data.austintexas.gov/resource/wter-evkm.json"

# get_soda_api_data(endpoint, app_token)