In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from os import path

intakes_df=pd.read_csv("Austin_Animal_Center_Intakes.csv")
dogs_intakes_df = intakes_df.loc[intakes_df['Animal Type'] == 'Dog']
dogs_intakes_df = dogs_intakes_df.sort_values(by=['MonthYear', 'Animal ID'])
#dogs_intakes_df.reset_index(inplace=True)
#dogs_intakes_df.drop_duplicates(subset =['MonthYear', 'Animal ID' ],
#                    keep = False, inplace = True) 


print(dogs_intakes_df.head())
dogs_intakes_df.to_csv('dog_intakes.csv')

outcomes_df = pd.read_csv("Austin_Animal_Center_Outcomes.csv")
dogs_outcomes_df = outcomes_df.loc[outcomes_df['Animal Type'] == 'Dog']
dogs_outcomes_df = dogs_outcomes_df.sort_values(by=['MonthYear', 'Animal ID'])
#dogs_outcomes_df.reset_index(inplace=True)
#dogs_outcomes_df.drop_duplicates(subset =['MonthYear', 'Animal ID' ],
#                    keep = False, inplace = True) 

print(dogs_outcomes_df.head())
dogs_outcomes_df.to_csv('dog_outcomes.csv')

dog_df_merged = pd.merge(dogs_outcomes_df, dogs_intakes_df[['Animal ID', 
    'Name', 'DateTime', 'MonthYear', 'Found Location',
    'Intake Type', 'Intake Condition', 'Animal Type', 'Sex upon Intake',
    'Age upon Intake', 'Breed', 'Color']], 
    on='Animal ID', 
    how='inner', 
    suffixes=('_outcome', ''))

print(dog_df_merged.head())
dog_df_merged['Date_outcome'] = pd.to_datetime(dog_df_merged['MonthYear_outcome']).dt.normalize()
dog_df_merged['Date_intake'] =  pd.to_datetime(dog_df_merged['MonthYear']).dt.normalize()
dog_df_merged['stay_length']=abs((dog_df_merged['Date_outcome'])-\
    (dog_df_merged['Date_intake']))
        

print(dog_df_merged.head(30))

   index Animal ID     Name      DateTime     MonthYear  \
0  61195   A670035  Cho-Cho  1/1/14 10:42  1/1/14 10:42
1  14027   A605191   Paloma  1/1/14 10:50  1/1/14 10:50
2  13194   A670036   Mufasa  1/1/14 10:59  1/1/14 10:59
3  17933   A670038   Scooby  1/1/14 10:59  1/1/14 10:59
4  33682   A670041     Halo  1/1/14 11:29  1/1/14 11:29

                          Found Location Intake Type Intake Condition  \
0          11212 Renel Dr in Austin (TX)       Stray           Normal
1         650 Bastrop Hwy in Austin (TX)       Stray           Normal
2                   Ih-35 in Austin (TX)       Stray           Normal
3  E Sh 71 Eb And Ross Rd in Austin (TX)       Stray           Normal
4   Braker And Oakwood Dr in Austin (TX)       Stray           Normal

  Animal Type Sex upon Intake Age upon Intake  \
0         Dog     Intact Male         2 years
1         Dog   Spayed Female         3 years
2         Dog   Neutered Male         5 years
3         Dog   Neutered Male         3 years
4         Dog   Spayed Female        12 years

                              Breed                Color
0     American Pit Bull Terrier Mix  Black Brindle/White
1                Great Pyrenees Mix                White
2       Pit Bull/Labrador Retriever          Brown/White
3  Labrador Retriever/Border Collie          Black/White
4               German Shepherd Mix          Black/Brown
   index Animal ID     Name                DateTime               MonthYear  \
0  59823   A669926      NaN  01/01/2014 01:00:00 PM  01/01/2014 01:00:00 PM
1  64153   A668314     Duke  01/01/2014 01:30:00 PM  01/01/2014 01:30:00 PM
2  46660   A666770     Josh  01/01/2014 01:32:00 PM  01/01/2014 01:32:00 PM
3  47155   A668337    *Tony  01/01/2014 01:42:00 PM  01/01/2014 01:42:00 PM
4  25140   A663273  Diamond  01/01/2014 01:44:00 PM  01/01/2014 01:44:00 PM

  Date of Birth Outcome Type Outcome Subtype Animal Type Sex upon Outcome  \
0    05/30/2013     Transfer         Partner         Dog    Intact Female
1    12/02/2012     Transfer         Partner         Dog    Neutered Male
2    11/07/2010     Adoption             NaN         Dog    Neutered Male
3    12/02/2012   Euthanasia        Behavior         Dog      Intact Male
4    09/16/2011   Euthanasia        Behavior         Dog    Spayed Female

  Age upon Outcome                        Breed                Color
0         7 months  Plott Hound/Black/Tan Hound            Brown/Tan
1           1 year       Labrador Retriever Mix      Chocolate/White
2          3 years           Siberian Husky Mix          Black/Brown
3           1 year                 Pit Bull Mix  Brown Brindle/White
4          2 years                Catahoula Mix   Tan/Yellow Brindle
   index Animal ID Name_outcome        DateTime_outcome  \
0  59823   A669926          NaN  01/01/2014 01:00:00 PM
1  64153   A668314         Duke  01/01/2014 01:30:00 PM
2  64153   A668314         Duke  01/01/2014 01:30:00 PM
3  23398   A668314         Duke  12/27/2013 06:01:00 PM
4  23398   A668314         Duke  12/27/2013 06:01:00 PM

        MonthYear_outcome Date of Birth Outcome Type Outcome Subtype  \
0  01/01/2014 01:00:00 PM    05/30/2013     Transfer         Partner
1  01/01/2014 01:30:00 PM    12/02/2012     Transfer         Partner
2  01/01/2014 01:30:00 PM    12/02/2012     Transfer         Partner
3  12/27/2013 06:01:00 PM    12/02/2012     Adoption             NaN
4  12/27/2013 06:01:00 PM    12/02/2012     Adoption             NaN

  Animal Type_outcome Sex upon Outcome  ...        DateTime       MonthYear  \
0                 Dog    Intact Female  ...  12/30/13 14:27  12/30/13 14:27
1                 Dog    Neutered Male  ...    12/2/13 8:00    12/2/13 8:00
2                 Dog    Neutered Male  ...  12/29/13 11:42  12/29/13 11:42
3                 Dog    Neutered Male  ...    12/2/13 8:00    12/2/13 8:00
4                 Dog    Neutered Male  ...  12/29/13 11:42  12/29/13 11:42

                 Found Location      Intake Type Intake Condition Animal Type  \
0  12815 New Katy in Manor (TX)            Stray             Sick         Dog
1    183 & Duval in Austin (TX)            Stray           Normal         Dog
2                   Austin (TX)  Owner Surrender           Normal         Dog
3    183 & Duval in Austin (TX)            Stray           Normal         Dog
4                   Austin (TX)  Owner Surrender           Normal         Dog

  Sex upon Intake Age upon Intake                        Breed  \
0   Intact Female        7 months  Plott Hound/Black/Tan Hound
1     Intact Male          1 year       Labrador Retriever Mix
2   Neutered Male          1 year       Labrador Retriever Mix
3     Intact Male          1 year       Labrador Retriever Mix
4   Neutered Male          1 year       Labrador Retriever Mix

             Color
0        Brown/Tan
1  Chocolate/White
2  Chocolate/White
3  Chocolate/White
4  Chocolate/White

[5 rows x 24 columns]
    index Animal ID Name_outcome        DateTime_outcome  \
0   59823   A669926          NaN  01/01/2014 01:00:00 PM
1   64153   A668314         Duke  01/01/2014 01:30:00 PM
2   64153   A668314         Duke  01/01/2014 01:30:00 PM
3   23398   A668314         Duke  12/27/2013 06:01:00 PM
4   23398   A668314         Duke  12/27/2013 06:01:00 PM
5   46660   A666770         Josh  01/01/2014 01:32:00 PM
6   46660   A666770         Josh  01/01/2014 01:32:00 PM
7   47155   A668337        *Tony  01/01/2014 01:42:00 PM
8   25140   A663273      Diamond  01/01/2014 01:44:00 PM
9   11501   A643402       Scuffy  01/01/2014 02:38:00 PM
10  27583   A668519          Joe  01/01/2014 02:46:00 PM
11  29926   A667815         Joey  01/01/2014 03:08:00 PM
12  57976   A669933        Leroy  01/01/2014 03:17:00 PM
13  64578   A670032      Patches  01/01/2014 03:17:00 PM
14  39849   A516660       Marley  01/01/2014 03:32:00 PM
15  59722   A670041         Halo  01/01/2014 04:01:00 PM
16  28239   A669562        Banjo  01/01/2014 04:41:00 PM
17  68392   A670068         Duke  01/01/2014 04:47:00 PM
18  41573   A669712         Cujo  01/01/2014 04:52:00 PM
19  14497   A597312         Kano  01/01/2014 04:58:00 PM
20   4493   A669836       Marlee  01/01/2014 05:03:00 PM
21  66053   A669978          Rex  01/01/2014 05:09:00 PM
22  66053   A669978          Rex  01/01/2014 05:09:00 PM
23  52722   A669978          Rex  02/23/2014 12:52:00 PM
24  52722   A669978          Rex  02/23/2014 12:52:00 PM
25  65037   A669467       Scampi  01/01/2014 05:32:00 PM
26  55736   A669824      Jackson  01/01/2014 05:35:00 PM
27  55736   A669824      Jackson  01/01/2014 05:35:00 PM
28   3999   A669824      Jackson  11/15/2014 03:19:00 PM
29   3999   A669824      Jackson  11/15/2014 03:19:00 PM

         MonthYear_outcome Date of Birth     Outcome Type Outcome Subtype  \
0   01/01/2014 01:00:00 PM    05/30/2013         Transfer         Partner
1   01/01/2014 01:30:00 PM    12/02/2012         Transfer         Partner
2   01/01/2014 01:30:00 PM    12/02/2012         Transfer         Partner
3   12/27/2013 06:01:00 PM    12/02/2012         Adoption             NaN
4   12/27/2013 06:01:00 PM    12/02/2012         Adoption             NaN
5   01/01/2014 01:32:00 PM    11/07/2010         Adoption             NaN
6   01/01/2014 01:32:00 PM    11/07/2010         Adoption             NaN
7   01/01/2014 01:42:00 PM    12/02/2012       Euthanasia        Behavior
8   01/01/2014 01:44:00 PM    09/16/2011       Euthanasia        Behavior
9   01/01/2014 02:38:00 PM    10/01/2012         Adoption             NaN
10  01/01/2014 02:46:00 PM    12/19/2012         Transfer         Partner
11  01/01/2014 03:08:00 PM    11/23/2012         Transfer         Partner
12  01/01/2014 03:17:00 PM    12/30/2008         Transfer         Partner
13  01/01/2014 03:17:00 PM    01/01/2008  Return to Owner             NaN
14  01/01/2014 03:32:00 PM    07/21/2007         Adoption             NaN
15  01/01/2014 04:01:00 PM    01/01/2002  Return to Owner             NaN
16  01/01/2014 04:41:00 PM    09/24/2013         Adoption             NaN
17  01/01/2014 04:47:00 PM    01/01/2008  Return to Owner             NaN
18  01/01/2014 04:52:00 PM    09/26/2013         Adoption             NaN
19  01/01/2014 04:58:00 PM    04/14/2009  Return to Owner             NaN
20  01/01/2014 05:03:00 PM    07/17/2013         Adoption             NaN
21  01/01/2014 05:09:00 PM    12/31/2012  Return to Owner             NaN
22  01/01/2014 05:09:00 PM    12/31/2012  Return to Owner             NaN
23  02/23/2014 12:52:00 PM    12/31/2012  Return to Owner             NaN
24  02/23/2014 12:52:00 PM    12/31/2012  Return to Owner             NaN
25  01/01/2014 05:32:00 PM    12/21/2008  Return to Owner             NaN
26  01/01/2014 05:35:00 PM    07/27/2013         Adoption             NaN
27  01/01/2014 05:35:00 PM    07/27/2013         Adoption             NaN
28  11/15/2014 03:19:00 PM    07/27/2013         Transfer         Partner
29  11/15/2014 03:19:00 PM    07/27/2013         Transfer         Partner

   Animal Type_outcome Sex upon Outcome  ...      Intake Type  \
0                  Dog    Intact Female  ...            Stray
1                  Dog    Neutered Male  ...            Stray
2                  Dog    Neutered Male  ...  Owner Surrender
3                  Dog    Neutered Male  ...            Stray
4                  Dog    Neutered Male  ...  Owner Surrender
5                  Dog    Neutered Male  ...            Stray
6                  Dog    Neutered Male  ...  Owner Surrender
7                  Dog      Intact Male  ...            Stray
8                  Dog    Spayed Female  ...  Owner Surrender
9                  Dog    Spayed Female  ...  Owner Surrender
10                 Dog    Neutered Male  ...            Stray
11                 Dog      Intact Male  ...  Owner Surrender
12                 Dog    Neutered Male  ...  Owner Surrender
13                 Dog    Intact Female  ...            Stray
14                 Dog    Spayed Female  ...            Stray
15                 Dog    Spayed Female  ...            Stray
16                 Dog      Intact Male  ...            Stray
17                 Dog    Neutered Male  ...            Stray
18                 Dog    Neutered Male  ...            Stray
19                 Dog    Neutered Male  ...            Stray
20                 Dog    Spayed Female  ...            Stray
21                 Dog    Neutered Male  ...            Stray
22                 Dog    Neutered Male  ...            Stray
23                 Dog    Neutered Male  ...            Stray
24                 Dog    Neutered Male  ...            Stray
25                 Dog    Neutered Male  ...    Public Assist
26                 Dog    Neutered Male  ...            Stray
27                 Dog    Neutered Male  ...  Owner Surrender
28                 Dog    Neutered Male  ...            Stray
29                 Dog    Neutered Male  ...  Owner Surrender

   Intake Condition Animal Type Sex upon Intake Age upon Intake  \
0              Sick         Dog   Intact Female        7 months
1            Normal         Dog     Intact Male          1 year
2            Normal         Dog   Neutered Male          1 year
3            Normal         Dog     Intact Male          1 year
4            Normal         Dog   Neutered Male          1 year
5           Injured         Dog     Intact Male         3 years
6            Normal         Dog   Neutered Male         9 years
7            Normal         Dog     Intact Male          1 year
8              Sick         Dog   Intact Female         2 years
9            Normal         Dog   Spayed Female          1 year
10           Normal         Dog     Intact Male       11 months
11          Injured         Dog     Intact Male          1 year
12           Normal         Dog   Neutered Male         5 years
13           Normal         Dog   Intact Female         6 years
14           Normal         Dog   Spayed Female         6 years
15           Normal         Dog   Spayed Female        12 years
16          Injured         Dog     Intact Male        2 months
17           Normal         Dog   Neutered Male         6 years
18           Normal         Dog     Intact Male        2 months
19          Injured         Dog     Intact Male         4 years
20           Normal         Dog   Intact Female        5 months
21           Normal         Dog     Intact Male          1 year
22           Normal         Dog   Neutered Male          1 year
23           Normal         Dog     Intact Male          1 year
24           Normal         Dog   Neutered Male          1 year
25           Normal         Dog     Intact Male         5 years
26           Normal         Dog     Intact Male        5 months
27           Normal         Dog   Neutered Male          1 year
28           Normal         Dog     Intact Male        5 months
29           Normal         Dog   Neutered Male          1 year

                                           Breed                Color  \
0                    Plott Hound/Black/Tan Hound            Brown/Tan
1                         Labrador Retriever Mix      Chocolate/White
2                         Labrador Retriever Mix      Chocolate/White
3                         Labrador Retriever Mix      Chocolate/White
4                         Labrador Retriever Mix      Chocolate/White
5                             Siberian Husky Mix          Black/Brown
6                             Siberian Husky Mix          Black/Brown
7                                   Pit Bull Mix  Brown Brindle/White
8                                  Catahoula Mix   Tan/Yellow Brindle
9                         Border Collie/Pit Bull          Black/White
10                              Miniature Poodle        White/Apricot
11                       Chihuahua Shorthair Mix            Black/Tan
12                                        Beagle           Blue Merle
13                                 Catahoula Mix     Blue Merle/White
14  Australian Cattle Dog/Parson Russell Terrier            White/Tan
15                           German Shepherd Mix          Black/Brown
16                             Cairn Terrier Mix                Brown
17                                  Pit Bull Mix                 Fawn
18                                  Pit Bull Mix   Blue/Brown Brindle
19                                      Pit Bull                Brown
20                        Labrador Retriever Mix          White/Black
21                                   Whippet Mix                  Red
22                                   Whippet Mix                  Red
23                                   Whippet Mix                  Red
24                                   Whippet Mix                  Red
25                       Chihuahua Shorthair Mix            Tan/White
26                        Labrador Retriever Mix                Black
27                        Labrador Retriever Mix                Black
28                        Labrador Retriever Mix                Black
29                        Labrador Retriever Mix                Black

   Date_outcome Date_intake stay_length
0    2014-01-01  2013-12-30      2 days
1    2014-01-01  2013-12-02     30 days
2    2014-01-01  2013-12-29      3 days
3    2013-12-27  2013-12-02     25 days
4    2013-12-27  2013-12-29      2 days
5    2014-01-01  2013-11-07     55 days
6    2014-01-01  2019-12-23   2182 days
7    2014-01-01  2013-12-02     30 days
8    2014-01-01  2013-10-30     63 days
9    2014-01-01  2013-12-24      8 days
10   2014-01-01  2013-12-04     28 days
11   2014-01-01  2013-11-23     39 days
12   2014-01-01  2013-12-30      2 days
13   2014-01-01  2014-01-01      0 days
14   2014-01-01  2013-12-20     12 days
15   2014-01-01  2014-01-01      0 days
16   2014-01-01  2013-12-23      9 days
17   2014-01-01  2014-01-01      0 days
18   2014-01-01  2013-12-26      6 days
19   2014-01-01  2013-12-18     14 days
20   2014-01-01  2013-12-28      4 days
21   2014-01-01  2013-12-31      1 days
22   2014-01-01  2014-02-22     52 days
23   2014-02-23  2013-12-31     54 days
24   2014-02-23  2014-02-22      1 days
25   2014-01-01  2013-12-21     11 days
26   2014-01-01  2013-12-27      5 days
27   2014-01-01  2014-09-18    260 days
28   2014-11-15  2013-12-27    323 days
29   2014-11-15  2014-09-18     58 days

[30 rows x 27 columns]